<div class="wrapper">
  <%= form_tag("/spots/create") do %>
    <h1>地点の追加</h1>
    <div class="form">
      <h2>表示</h2>
      <p>テキスト</p>
      <textarea name="q_text"><%= @spot.q_text %></textarea>
      <p>画像</p>
      <button>画像をアップロード</button>
      <h2>答え</h2>
      <textarea name="answer"><%= @spot.answer %></textarea>
      <h2>正解時に表示</h2>
      <p>テキスト</p>
      <textarea name="a_text"><%= @spot.a_text %></textarea>
      <p>正解時に表示する画像</p>
      <button>画像をアップロード</button>
      <h2 class="form-item">問題の設置場所</h2>
      <div id="map"></div><!-- 地図を表示する div 要素（id="map"）-->
      <textarea id="lat" name="lat" class="invisible"><%= @spot.lat %></textarea>
      <textarea id="lng" name="lng" class="invisible"><%= @spot.lng %></textarea>
      <div class="buttons">
        <%= link_to("キャンセル", "/question/#{@quest.id}", {class: "simplebutton"}) %>
        <input type="submit" value="保存" class="simplebutton">
      </div>
    </div>
  <% end %>
  
</div>

<script type="text/javascript">
  var lat = '<%== JSON.dump(@spot.lat) %>';
  var lng = '<%== JSON.dump(@spot.lng) %>';
  var map;
  function initMap() {
    var opts = {
      zoom: 14,
      center: new google.maps.LatLng(35.6810208016824, 139.7674398589082),
      streetViewControl: false,
      mapTypeControl: false
    };
    map = new google.maps.Map(document.getElementById("map"), opts);
    map.addListener('drag', dispLatLng);
  }
  function dispLatLng(){
    var latlng = map.getCenter();
    var lat = latlng.lat();
    var lng = latlng.lng();
    document.getElementById("lat").innerHTML = lat;
    document.getElementById("lng").innerHTML = lng;
  }
</script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap">
</script>
