<div class="wrapper">
  <%= form_tag("/play/answer-check") do %>
    <h1><%= @quest.title %></h1>
    <h2>Q.<%= @spot.q_text %></h2>
    <h2><%= @spots.first.clear %></h2>
    <div id="map"></div><!-- 地図を表示する div 要素（id="map"）-->
    <p>A.</p>
    <textarea name="user_answer"></textarea>
    <div class="buttons">
      <%= link_to("戻る", :back, {class: "simplebutton"}) %>
      <input type="submit" value="答え合わせ" class="simplebutton">
    </div>
  <% end %>
</div>

<script type="text/javascript">
  var lat = '<%== JSON.dump(@spot.lat) %>';
  var lng = '<%== JSON.dump(@spot.lng) %>';
  var map;
  function initMap() {
    var opts = {
      zoom: 14,
      center: new google.maps.LatLng(lat, lng),
      mapTypeControl: false
    };
    map = new google.maps.Map(document.getElementById("map"), opts);

    var spotLatlng = new google.maps.LatLng(lat, lng);
    var marker = new google.maps.Marker({
      position: spotLatlng,
      map: map,
      title:"Here!"
    });
  }
</script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap">
</script>
