<div class="wrapper">
  <h1>クエスト情報の編集</h1>
  <% @quest.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
  <%= form_tag("/question/#{@quest.id}/update") do %>
    <div class="form">
      <h2>クエスト名</h2>
      <input name="title" value="<%= @quest.title %>" class="textbox">
      <h2>説明文</h2>
      <textarea name="caption" class="textbox"><%= @quest.caption %></textarea>
      <div class="buttons">
        <%= link_to("キャンセル", "./", {class: "simplebutton"}) %>
        <input type="submit" value="保存" class="simplebutton">
      </div>
    </div>
  <% end %>
</div>
