<div class="wrapper">
  <h1>マイページ</h1>

  <!-- モーダルを開くボタン -->
  <%= link_to("クエストを作る", "/question/create", {class: "simplebutton"}) %>

  <h2>未公開</h2>
  <% if @not_published_quests.size != 0 %>
    <ul class="simple-list">
      <% @not_published_quests.each do |quest|%>
        <li class="quest-list">
          <div class="quest-list-block">
            <%= link_to(quest.title, "/question/#{quest.id}", {class: "textbutton quest-list-title"}) %>
            <p class="quest-list-caption"><%= quest.caption %></p>
          </div>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>非公開のクエストはありません</p>
  <% end %>
  
  <h2>公開中</h2>
  <% if @published_quests.size != 0 %>
    <ul class="simple-list">
      <% @published_quests.each do |quest|%>
        <li class="quest-list">
          <div class="quest-list-block">
            <%= link_to(quest.title, "/question/#{quest.id}", {class: "textbutton quest-list-title"}) %>
            <p class="quest-list-caption"><%= quest.caption %></p>
          </div>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>公開中のクエストはありません</p>
  <% end %>

  <h2>挑戦中</h2>
  <% if @play_quest %>
    <ul class="simple-list">
      <li class="quest-list">
        <div class="quest-list-block">
          <%= link_to(@play_quest.title, "/question/#{@play_quest.id}", {class: "textbutton quest-list-title"}) %>
          <p class="quest-list-caption"><%= @play_quest.caption %></p>
        </div>
      </li>
    </ul>
  <% else %>
    <p>挑戦中のクエストはありません</p>
  <% end %>
</div>