<div class="wrapper">
  <h1><%= @quest.title %></h1>
  <div class="creater-box">
    <img src="<%="/user_images/#{@user.image_name}"%>" class="creater-icon">
    <%= link_to(@user.name, "/users/#{@user.id}", {class: "creater-name"}) %>
  </div>

  <h2>説明文</h2>
  <div>
    <%= @quest.caption %>
  </div>

  <% if @quest.user_id == @current_user.id %>
    <div class="vartical-set">
      <%= link_to("クエスト名・説明文の編集", "/question/#{@quest.id}/edit", class: "textbutton") %>
      <%= link_to("クエストを削除", "/question/#{@quest.id}/destroy", method: :post, class: "dangerbutton") %>
    </div> 
    <h2>地点</h2>
    <ul class="simple-list">
      <% if @spots %>
        <% @spots.each do |spot| %>
          <li>
            <div class="vartical-set">
              <%= link_to(spot.q_text, "/spots/#{spot.id}", {class: "textbutton quest-list-title"}) %>
            </div>
          </li>
        <% end %>
      <% end %>
    </ul>
    <%= link_to("地点を追加", "/question/#{@quest.id}/newspot", {class: "simplebutton"}) %>
    <% if @quest.publish == true %>
      <%= button_to "非公開にする", {controller: 'question', action: 'unpublish'}, {method: :post, class: "simplebutton"} %>
    <% else %>
      <%= button_to "公開する", {controller: 'question', action: 'publish'}, {method: :post, class: "simplebutton"} %>
    <% end %>
  <% end %>


  <%= button_to "戻る", {controller: 'question', action: 'top'}, {method: :get, class: "simplebutton"} %>
</div>