<!DOCTYPE html>
<html>
  <head>
    <title>Qwalk</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= include_gon %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header-content">
        <% if session[:user_id] %>
          <%= link_to("Qwalk", "/question", {class: "header-logo"}) %>
        <% else %>
          <%= link_to("Qwalk", "/login", {class: "header-logo"}) %>
        <% end %>
        <ul class="header-list">
          <% if session[:user_id] %>
            <li><%= link_to("クエストを探す", "/question") %></li>
            <li><%= link_to("挑戦する", "/play") %></li>
            <li><%= link_to("マイページ", "/mypage") %></li>
            <li><%= link_to(@current_user.name, "/users/#{@current_user.id}") %></li>
          <% else %>
            <li><%= link_to("ログイン", "/login") %></li>
            <li><%= link_to("新規登録", "/") %></li>
          <% end %>
        </ul>
      </div>
    </header>

    <div class="under-header"></div>

    <% if flash[:notice] %>
      <div class="success-message">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <% if flash[:error_message] %>
      <div class="error-message">
        <%= flash[:error_message] %>
      </div>
    <% end %>
    <% if @error_message %>
      <div class="error-message">
        <%= @error_message %>
      </div>
    <% end %>
    <% if @user.errors.full_messages %>
      <% @user.errors.full_messages.each do |message| %>
        <div class="error-message">
          <%= message %>
        </div>
      <% end %>
    <% end %>
    <% if @quest.errors.full_messages %>
      <% @quest.errors.full_messages.each do |message| %>
        <div class="error-message">
          <%= message %>
        </div>
      <% end %>
    <% end %>
    <% if @spot.errors.full_messages %>
      <% @spot.errors.full_messages.each do |message| %>
        <div class="error-message">
          <%= message %>
        </div>
      <% end %>
    <% end %>

    <%= yield %>
  </body>
</html>
