<!DOCTYPE html>
<html>
  <head>
    <title>Qwalk</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header-content">
        <% if session[:user_id] %>
          <%= link_to("Qwalk", "/question", {class: "header-logo"}) %>
        <% else %>
          <%= link_to("Qwalk", "/", {class: "header-logo"}) %>
        <% end %>
        <ul class="header-list">
          <% if session[:user_id] %>
            <li><%= link_to("ユーザー一覧", "/users") %></li>
            <li><%= link_to("マイクエスト", "/question") %></li>
            <li><%= link_to(@current_user.name, "/users/#{@current_user.id}") %></li>
            <li class="dangerbutton"><%= link_to("ログアウト", "/logout", method: :post) %></li>
          <% else %>
            <li><%= link_to("ログイン", "/login") %></li>
            <li><%= link_to("新規登録", "/") %></li>
          <% end %>
        </ul>
      </div>
    </header>

    <div class="under-header"></div>

    <% if flash[:notice] %>
      <div class="success-message">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
