<!DOCTYPE html>
<html>
  <head>
    <title>Qwalk</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header-content">
        <%= link_to("Qwalk", "/", {class: "header-logo"}) %>
        <ul class="header-list">
          <li><%= link_to("ユーザー一覧", "users") %></li>
          <li><%= link_to("クエスト", "question") %></li>
        </ul>
      </div>
    </header>

    <% if flash[:notice] %>
      <div class="wrapper">
        <div class="success-message">
          <%= flash[:notice] %>
        </div>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
